# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target
*bin
*logs
*.settings
*.swp
*.project
*.classpath
*rebel.xml
*rebel.xml*
*DS_Store
.idea/*
.idea/
.mvn/
.mvn/*
*.cmd
mvnw
*.iml
.flattened-pom.xml
